html, body {
    background-color: #bfbfbf;
    color: white;
    box-sizing: border-box;
}

#wrapper {
    color: white;
    height: 400px;
    width: 600px;
    background-color: #353535;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.backToMenu {
    width: 100px;
    height: 10px;
}

.statsTable {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rowButton{
    margin: 5px 0 5px 0;
}

#mainGame {
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.mainScreenButton {
    margin: 10px 5px 10px 5px;
}

.topBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#mainScreenWrapper {
    height: 100%;
}

.statsDisplay {
    background-color: #353535;
    opacity: 0.8;
    width: max-content;
    padding: 5px;
    margin: 5px;
}

.mainMenuButton {
    margin: 10px;
}

#restOfShop {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    padding-left: 30px;
    padding-right: 30px;
}

#fire {
    width: 70px;
    margin-top: 0px;
    margin-left: 390px;
}

#smoke {
    width: 400px;
    height: 350px;
    margin-top: -355px;
    margin-left: 225px;
}
