html, body {
    background-color: #bfbfbf;
    color: white;
}

#wrapper {
    color: white;
    height: 400px;
    width: 600px;
    background-color: #353535;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    border: 3px solid black;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.backToMenu {
    width: 100px;
    height: 10px;
}

.statsTable {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rowButton{
    margin: 5px 0 5px 0;
}