<!DOCTYPE html>
<html>
	<head>
		<title>Ignis</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/shop.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

	<body>
        <div id="wrapper">
            <div id="mainMenu" class="menu">
                <h1 style="text-align: center;">IGNIS</h1>
                <br/>
                <button class="newGame button mainMenuButton">New Game</button>
                <br/>
                <button id="loadGameButton" class="loadGame button mainMenuButton">Load Game</button>
                <br/>
                <button id="aboutPageButton" class="button mainMenuButton">How To Play</button> 
                <br>
                <button class="exit button mainMenuButton">Close App</button>
            </div>

                        
            <div id="aboutPage" class="menu" style="display: none; overflow-x: auto;">
                <div class="topBar">
                    <button class="button is-small goToMain" style="margin-top: 10px;">
                        Back to Main Menu
                    </button>
                </div>
                <h1>
                    <strong style="color: white;">
                        How To Play Ignis
                    </strong>
                </h1>
                <p>In Ignis you play as a Neanderthal living in a cave. One day lighting strikes outside your cave lighting a fire on the ground. You're curious about the fire and learn to control it by using different materials to grow, change and protect your fire.</p>
                <p>Other Neanderthals from the area see your fire and are willing to trade you Sharp Rocks in exchange for a piece of your fire. Your goal is to use these Sharp Rocks to buy items to add to your fire. If your fire grows large enough you win the game!</p>
                <p>Watch out for weather events and Neanderthals taking too much of your fire! If your fire gets too small you lose and your fire goes out!</p>
                
                <h1>
                    <strong style="color: white;">
                        Creating a New Fire
                    </strong>
                </h1>
                <p>
                    When you create a new fire, your fire defaults to have 1000 size, heat, brightness and smokiness, and 0 protection. You are given 2000 fire stats that you can use to personalize your fire in increments of 100. 
                </p>
                <p>When you create a new fire you will see the main game screen, where you can view the current weather, any Neanderthals visiting your fire, your current fire's stats, the buttons to view the shop, inventory, or item info pages, and of course, your current fire. You can also toggle the location of your fire.</p>
                <h1>
                    <strong style="color: white;">
                        Winning and Losing
                    </strong>                    
                </h1>
                <p>Your objective is to grow your fire to win the game. You win the game when your fire size reaches 10,000. You lose the game when your fire reaches size 0.</p>

                <h1>
                    <strong style="color: white;">
                        Weather
                    </strong>
                </h1>
                <p>During the game your fire degrades based on the weather outside every 10 seconds. The cooler, more humid, and windier it is outside the faster you fire will degrade. If a large enough weather event does not happen within 2 minutes, a random weather event will occur of random intensity.</p>
                <p>In order to combat the effects of the weather, you can increase your fire's protection stat by purchasing roofs and walls in the shop and using them.</p>

                <h1>
                    <strong style="color: white;">
                        Neanderthals
                    </strong>
                </h1>
                <p>Other Neanderthals will see your fire and will take 5% of your fire's size in exhange for Sharp Rocks, the in-game currency, at somewhat random intervals. If you have high levels of smokiness and brightness more Neanderthals will take a piece of your fire more often.</p>
                <p>If you change the colour of your fire using one of the metals in the shop, you will receive twice as many Sharp Rocks from Neanderthals visiting your fire. The higher the heat and size of your fire, the more Sharp Rocks Neanderthals will give you.</p>
                
                <h1>
                    <strong style="color: white;">
                        Shop
                    </strong>
                </h1>
                <p>When you visit the shop you will be able to view three items for sale, and your current Sharp Rocks balance. In the top right hand corner of the image for each shop item, you will see how many Sharp Rocks each item costs. If you want to see how the item changes the attributes of your fire, visit the Item Info page from the main game screen. Click on the button associated with an item in the shop to buy it.</p>

                <h1>
                    <strong style="color: white;">
                        Inventory
                    </strong>
                </h1>
                <p>When you visit your inventory you will see how many sharp rocks you have, as well as how many of each item you can buy in the shop you have currently. In order to use an item, click the button associated with it, and return to the main game screen to see how your fire has changed.</p>
            </div>
            
            <div id="gameCreater" style="display:none" class="menu">
                <button class="goToMain button backToMenu">Main Menu</button>
                <p>Give your fire a name:</p>
                <input id="fireName" type="text" class="input">
                <div><strong style="color: white;">Enter stats here</strong></div>
                <div id="statsRemaining">Stats Remaining: 10</div>


                <table class="statsTable" style="width:100%">
                        <td>Heat</td>
                        <td><button id="heatDec" class="button is-small rowButton">-</button></td>
                        <td><button id="heatInc" class="button is-small rowButton">+</button></td>
                        <td id="startHeat"></td>
                    </tr>
                    <tr>
                        <td>Brightness</td>
                        <td><button id="brightDec" class="button is-small rowButton">-</button></td>
                        <td><button id="brightInc" class="button is-small rowButton">+</button></td>
                        <td id="startBright"></td>
                    </tr>
                    <tr>
                        <td>Smokiness</td>
                        <td><button id="smokeDec" class="button is-small rowButton">-</button></td>
                        <td><button id="smokeInc" class="button is-small rowButton">+</button></td>
                        <td id="startSmoke"></td>
                    </tr>
                    <tr>
                        <td>Protection</td>
                        <td><button id="protectDec" class="button is-small rowButton">-</button></td>
                        <td><button id="protectInc" class="button is-small rowButton">+</button></td>
                        <td id="startProtect"></td>
                    </tr>
                  </table>

                <button id="createGame" class="button">Start the game!</button>
            </div>
            
            <div id="gameLoader" style="display:none" class="menu">
                <button class="goToMain button backToMenu">Main Menu</button>
                <strong style="color: white;">
                    <p>Select a game to load:</p>
                </strong>

                
                <select name="" id="loadGameSelect" class="select" style="margin: 25px 0 25px 0;">
                </select>
                

                <button id="loadGame" class="button">Load my game!</button>
            </div>
            
            <div id="mainScreenWrapper" style="display: none; width: 100%; height: 100%;">
                <div id="mainGame" style="background-image: url(../static/assets/back1.jpg);">
                    <div class="topBar">
                        <button id="saveExit" class="goToMain button is-small mainScreenButton">Save and Exit</button>
                        <button id="toggleBackground" class="button is-small mainScreenButton">Toggle Background</button>
                        <button class="goToInventory button is-small mainScreenButton">Inventory</button>
                        <button class="goToShop button is-small mainScreenButton">Shop</button>
                        <button class="goToItemInfo button is-small mainScreenButton">Item Information</button> <br>
                    </div>
                    <div id="fireStatsDisplay" class="statsDisplay">
                        <strong style="color: white;">
                            Fire Stats
                        </strong> <br>
                        <div id="sizeStat" class="innerStat">Size: 10000</div>
                        <div id="heatStat" class="innerStat">Heat: 10000</div>
                        <div id="brightStat" class="innerStat">Brightness: 10000</div>
                        <div id="smokeStat" class="innerStat">Smokiness: 10000</div>
                        <div id="protectionStat" class="innerStat">Protection: 10000</div>                            
                    </div>
                    <div id="weatherStatsDisplay" class="statsDisplay">
                        <strong style="color: white;">
                            Current Weather
                        </strong> <br>
                        <div id="tempStat" class="innerStat">Temperature: 20</div>
                        <div id="humidityStat" class="innerStat">Humidity: 10</div>
                        <div id="windStat" class="innerStat">Wind Speed: 10</div>
                        <div id="weatherTypeStat" class="innerStat">Weather Type: Sunny</div>
                    </div>
                    <div id="smoke">
                        <img src="../static/images/smoke.png" style="width:100%; height:100%"/>
                    </div>
                    <div id="fire">
                        <img src="../static/images/fire0.png"/>
                    </div>
                    <div id="neanderthal" style="display: none;">
                        <img src="../static/images/neanderthal.png" style="width: 75px; height: auto;" alt="">
                    </div>
                </div>
            </div>
            
            <div id="inventoryScreen" style="display:none">
                <div class="topBar">
                    <button class="goToGame button is-small mainScreenButton">Back to Fire</button>
                </div>
                <div id="restOfInventory" style="width: 100%;">
                    <div style="margin-left: 255px;"> <strong style="color: white;">Inventory</strong></div>
                    <div id="balanceDisplay" style="margin-left: 40px;">Sharp Rocks: 0</div>
                    <table id="inventoryItems">
                        <tr>
                            <td>
                                <img src="../static/images/birch.jpg" alt=""><br>
                                <button id="invBirch" class="button is-small invButton">Birch Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/pine.jpg" alt=""> <br>
                                <button id="invPine" class="button is-small invButton">Pine Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/oak.jpg" alt=""> <br>
                                <button id="invOak" class="button is-small invButton">Oak Remaining: 0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../static/images/cesium.jpg" alt=""> <br>
                                <button id="invCesium" class="button is-small invButton">Cesium Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/sodium.jpg" alt=""> <br>
                                <button id="invSodium" class="button is-small invButton">Sodium Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/rubidium.jpg" alt=""> <br>
                                <button id="invRubidium" class="button is-small invButton">Rubidium Remaining: 0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../static/images/copper.jpg" alt=""> <br>
                                <button id="invCopper" class="button is-small invButton">Copper Remaining: 0</button> 
                            </td>
                            <td>
                                <img src="../static/images/wall.jpg" alt=""> <br>
                                <button id="invWall" class="button is-small invButton">Wall Remaining: 0</button> 
                            </td>
                            <td>
                                <img src="../static/images/roof.jpg" alt=""> <br>
                                <button id="invRoof" class="button is-small invButton">Roof Remaining: 0</button> 
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div id="shopScreen" style="display:none;">
                <div class="topBar">
                    <button class="goToGame button is-small mainScreenButton">Back to Fire</button>
                </div> <br>
                <div id="restOfShop" style="width: 100%;">
                    <div id="shopDesc">
                        <strong style="color: white;">
                            Welcome to the Shop!
                        </strong>
                        <div>Click an item to buy it.</div>
                        <div id="shopBalanceDisplay">Sharp Rocks: 0</div>    
                    </div>
                    <table id="shopItems">
                    </table>
                </div>
            </div>
            
            <div id="itemInfoScreen" style="display:none">
                <div class="topBar">
                    <button class="goToGame button is-small mainScreenButton">Back to Fire</button>
                </div> <br>
                <div id="itemInfo">
                    <ul>
                        <li class="itemInfoItemListItem" style="border-top:4px solid black">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px;">
                                    <img src="../static/images/birch.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Birch</p>
                                </div>
                                <div class="itemInfoListContainer">
                                    <div class="woodInfoList itemInfoList">
                                        <ul>
                                            <li>Size</li>
                                            <li>Heat</li>
                                            <li>Brightness</li>
                                            <li>Smokiness</li>
                                        </ul>
                                    </div>
                                    <div class="woodInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>+25</li>
                                            <li>+25</li>
                                            <li>+50</li>
                                            <li>+100</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/pine.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Pine</p>
                                </div>
                                <div class="itemInfoListContainer">
                                    <div class="woodInfoList itemInfoList">
                                        <ul>
                                            <li>Size</li>
                                            <li>Heat</li>
                                            <li>Brightness</li>
                                            <li>Smokiness</li>
                                        </ul>
                                    </div>
                                    <div class="woodInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>+40</li>
                                            <li>+40</li>
                                            <li>+100</li>
                                            <li>+20</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/oak.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Oak</p>
                                </div>
                                <div class="itemInfoListContainer">
                                    <div class="woodInfoList itemInfoList">
                                        <ul>
                                            <li>Size</li>
                                            <li>Heat</li>
                                            <li>Brightness</li>
                                            <li>Smokiness</li>
                                        </ul>
                                    </div>
                                    <div class="woodInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>+75</li>
                                            <li>+75</li>
                                            <li>+25</li>
                                            <li>+25</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/copper.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Copper</p>
                                </div>
                                <div class="itemInfoListContainer">
                                    <div class="metalInfoList itemInfoList">
                                        <ul>
                                            <li>Colour</li>
                                            <li>Brightness</li>
                                        </ul>
                                    </div>
                                    <div class="metalInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>Green</li>
                                            <li>+75</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/sodium.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Sodium</p>
                                </div>
                                <div class="itemInfoListContainer">
                                    <div class="metalInfoList itemInfoList">
                                        <ul>
                                            <li>Colour</li>
                                            <li>Brightness</li>
                                        </ul>
                                    </div>
                                    <div class="metalInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>Yellow</li>
                                            <li>+250</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/rubidium.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Rubidium</p>
                                </div>
                                <div class="itemInfoListContainer">
                                    <div class="metalInfoList itemInfoList">
                                        <ul>
                                            <li>Colour</li>
                                            <li>Brightness</li>
                                        </ul>
                                    </div>
                                    <div class="metalInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>Red</li>
                                            <li>+600</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/cesium.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Cesium</p>
                                </div>
                                <div  class="itemInfoListContainer">
                                    <div class="metalInfoList itemInfoList">
                                        <ul>
                                            <li>Colour</li>
                                            <li>Brightness</li>
                                        </ul>
                                    </div>
                                    <div class="metalInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>Blue</li>
                                            <li>+1000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/wall.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Wall</p>
                                </div>
                                <div  class="itemInfoListContainer">
                                    <div class="structureInfoList itemInfoList">
                                        <ul>
                                            <li>Protection</li>
                                        </ul>
                                    </div>
                                    <div class="structureInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>+200</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="itemInfoItemListItem" style="border-bottom:4px solid black">
                            <div style="display:flex; padding-left:5%; padding-right: 5%;">
                                <div style="width:100px">
                                    <img src="../static/images/roof.jpg" style="width:100px"/>
                                    <p style="width:100%; text-align:center">Roof</p>
                                </div>
                                <div  class="itemInfoListContainer">
                                    <div class="structureInfoList itemInfoList">
                                        <ul>
                                            <li>Protection</li>
                                        </ul>
                                    </div>
                                    <div class="structureInfoList itemInfoList itemInfoFactors">
                                        <ul>
                                            <li>+500</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="height: 10px"></div>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/weather.js"></script>
        <script src="../static/pages.js"></script>
        <script src="../static/neanderthal.js"></script>
        <script src="../static/game.js"></script>
        <script src="../static/inventory.js"></script>
        <script src="../static/save.js"></script>
        <script src="../static/shop.js"></script>
        
    </body>
</html>
