<!DOCTYPE html>
<html>
	<head>
		<title>Ignis</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/shop.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

	<body>
        <div id="wrapper">
            <div id="mainMenu" class="menu">
                <h1 style="text-align: center;">IGNIS</h1>
                <br/>
                <button class="newGame button mainMenuButton">New Game</button>
                <br/>
                <button id="loadGameButton" class="loadGame button mainMenuButton">Load Game</button>
                <br/>
                <button class="exit button mainMenuButton">Close App</button>
            </div>
            
            <div id="gameCreater" style="display:none" class="menu">
                <button class="goToMain button backToMenu">Main Menu</button>
                <p>Give your fire a name:</p>
                <input id="fireName" type="text" class="input">
                <div><strong style="color: white;">Enter stats here</strong></div>
                <div id="statsRemaining">Stats Remaining: 10</div>


                <table class="statsTable" style="width:100%">
                        <td>Heat</td>
                        <td><button id="heatDec" class="button is-small rowButton">-</button></td>
                        <td><button id="heatInc" class="button is-small rowButton">+</button></td>
                        <td id="startHeat"></td>
                    </tr>
                    <tr>
                        <td>Brightness</td>
                        <td><button id="brightDec" class="button is-small rowButton">-</button></td>
                        <td><button id="brightInc" class="button is-small rowButton">+</button></td>
                        <td id="startBright"></td>
                    </tr>
                    <tr>
                        <td>Smokiness</td>
                        <td><button id="smokeDec" class="button is-small rowButton">-</button></td>
                        <td><button id="smokeInc" class="button is-small rowButton">+</button></td>
                        <td id="startSmoke"></td>
                    </tr>
                    <tr>
                        <td>Protection</td>
                        <td><button id="protectDec" class="button is-small rowButton">-</button></td>
                        <td><button id="protectInc" class="button is-small rowButton">+</button></td>
                        <td id="startProtect"></td>
                    </tr>
                  </table>

                <button id="createGame" class="button">Start the game!</button>
            </div>
            
            <div id="gameLoader" style="display:none" class="menu">
                <button class="goToMain button backToMenu">Main Menu</button>
                <strong style="color: white;">
                    <p>Select a game to load:</p>
                </strong>

                
                <select name="" id="loadGameSelect" class="select" style="margin: 25px 0 25px 0;">
                </select>
                

                <button id="loadGame" class="button">Load my game!</button>
            </div>
            
            <div id="mainScreenWrapper" style="display: none; width: 100%; height: 100%;">
                <div id="mainGame" style="background-image: url(../static/assets/back1.jpg);">
                    <div class="topBar">
                        <button id="saveExit" class="goToMain button is-small mainScreenButton">Save and Exit</button>
                        <button id="toggleBackground" class="button is-small mainScreenButton">Toggle Background</button>
                        <button class="goToInventory button is-small mainScreenButton">Inventory</button>
                        <button class="goToShop button is-small mainScreenButton">Shop</button> <br>
                    </div>
                    <div id="fireStatsDisplay" class="statsDisplay">
                        <strong style="color: white;">
                            Fire Stats
                        </strong> <br>
                        <div id="sizeStat" class="innerStat">Size: 10000</div>
                        <div id="heatStat" class="innerStat">Heat: 10000</div>
                        <div id="brightStat" class="innerStat">Brightness: 10000</div>
                        <div id="smokeStat" class="innerStat">Smokiness: 10000</div>
                        <div id="protectionStat" class="innerStat">Protection: 10000</div>                            
                    </div>
                    <div id="weatherStatsDisplay" class="statsDisplay">
                        <strong style="color: white;">
                            Current Weather
                        </strong> <br>
                        <div id="tempStat" class="innerStat">Temperature: 20</div>
                        <div id="humidityStat" class="innerStat">Humidity: 10</div>
                        <div id="windStat" class="innerStat">Wind Speed: 10</div>
                        <div id="weatherTypeStat" class="innerStat">Weather Type: Sunny</div>
                    </div>
                    <div id="fire">
                        <img src="../static/images/fire0.png"/>
                    </div>
                </div>
            </div>
            
            <div id="inventoryScreen" style="display:none">
                <div class="topBar">
                    <button class="goToGame button is-small mainScreenButton">Back to Fire</button>
                </div>
                <div id="restOfInventory" style="width: 100%;">
                    <div style="margin-left: 255px;"> <strong style="color: white;">Inventory</strong></div>
                    <div id="balanceDisplay" style="margin-left: 40px;">Sharp Rocks: 0</div>
                    <table id="inventoryItems">
                        <tr>
                            <td>
                                <img src="../static/images/birch.jpg" alt=""><br>
                                <button id="invBirch" class="button is-small invButton">Birch Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/pine.jpg" alt=""> <br>
                                <button id="invPine" class="button is-small invButton">Pine Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/oak.jpg" alt=""> <br>
                                <button id="invOak" class="button is-small invButton">Oak Remaining: 0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../static/images/cesium.jpg" alt=""> <br>
                                <button id="invCesium" class="button is-small invButton">Cesium Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/sodium.jpg" alt=""> <br>
                                <button id="invSodium" class="button is-small invButton">Sodium Remaining: 0</button>
                            </td>
                            <td>
                                <img src="../static/images/rubidium.jpg" alt=""> <br>
                                <button id="invRubidium" class="button is-small invButton">Rubidium Remaining: 0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../static/images/copper.jpg" alt=""> <br>
                                <button id="invCopper" class="button is-small invButton">Copper Remaining: 0</button> 
                            </td>
                            <td>
                                <img src="../static/images/wall.jpg" alt=""> <br>
                                <button id="invWall" class="button is-small invButton">Wall Remaining: 0</button> 
                            </td>
                            <td>
                                <img src="../static/images/roof.jpg" alt=""> <br>
                                <button id="invRoof" class="button is-small invButton">Roof Remaining: 0</button> 
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div id="shopScreen" style="display:none;">
                <div class="topBar">
                    <button class="goToGame button is-small mainScreenButton">Back to Fire</button>
                </div> <br>
                <div id="restOfShop" style="width: 100%;">
                    <div id="shopDesc">
                        <strong style="color: white;">
                            Welcome to the Shop!
                        </strong>
                        <div>Click an item to buy it.</div>
                        <div id="shopBalanceDisplay">Sharp Rocks: 0</div>    
                    </div>
                    <table id="shopItems">
                    </table>
                </div>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/weather.js"></script>
        <script src="../static/pages.js"></script>
        <script src="../static/neanderthal.js"></script>
        <script src="../static/game.js"></script>
        <script src="../static/save.js"></script>
        <script src="../static/inventory.js"></script>
        <script src="../static/shop.js"></script>
        
    </body>
</html>
